body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:604px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:604px;
}
#u823 {
  position:absolute;
  left:2px;
  top:294px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:329px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:0px;
  top:122px;
  width:1000px;
  height:329px;
  opacity:0.7;
}
#u825 {
  position:absolute;
  left:2px;
  top:156px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u826 {
  position:absolute;
  left:356px;
  top:173px;
  width:289px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u828 {
  position:absolute;
  left:396px;
  top:275px;
  width:209px;
  height:82px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u830 {
  position:absolute;
  left:326px;
  top:398px;
  width:350px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u832 {
  position:absolute;
  left:932px;
  top:415px;
  width:63px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u834 {
  position:absolute;
  left:395px;
  top:223px;
  width:216px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
